/*PagesController global styles*/
html, body{
  margin:2px;
  padding:2px;
  height:100%;
}

/* home page styles */
#home_title_h1{
  position: absolute;
  top: 30%;
  left: 3%;
}

/* lastFM page styles */

#lastFM_content_div{
  position:relative;
  top:150px;
}

#lastFM_upcoming_submit{
	margin: 10px;
}

#lastFM_left_div{
  margin:0;
  padding:0;
  width: 49%;
  height: 100%;
  float:left;
}

#lastFM_right_div{
  margin:0;
  padding:0;
  width: 49%;
  height: 100%;
  float:right;
}

#lastFM_map_div {
 	width: 500px; 
	height: 400px; 
	float: none;
	box-shadow: 10px 10px 5px #888888;
  margin: 20px;
}

#lastFM_earth_div {
  width: 500px;
  height: 400px;
  float: none;
  box-shadow: 10px 10px 5px #888888;
  margin: 20px;
}

/* Amazon page styles */
#amazon_content_div{
  position: relative;
  top: 150px;
}

#amazon_widget_div {
  border: 2px solid;
  width: 500px; 
  height: 800px; 
  float:right;
  box-shadow: 10px 10px 5px #888888;
  margin: 20px;
}

/* Search page styles */
#search_content_div{
  position:relative;
  top:170px;  
}

#search_info_div {
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  margin: 20px;
}

#search_save_div {
  width: 100px;
  height: 100px;
}