<h1 id="about">About This Site and Me</h1>

<div>
	<p>
	    Welcome to the music explorer web app, your one-stop shop for music information!
	    This site is a tutorial for me to gain experience in working with web apps.
	    Some of the technologies that I will be getting more familiar with are:

	   <ul>
	     <li> Ruby on Rails 3.1 </li>
	     <li> HTML5 </li>
	     <li> JQuery </li>
	     <li> CSS </li>
	     <li> Web APIs </li>
	     <ul>
	        <li> Last.FM </li>
	        <li> Wikipedia </li>
	        <li> Amazon </li>
	        <li> Facebook </li>
	        </ul>
	    </ul>

	    It is my hope that all of these will come together to make a site where you
	    can go to find out about your favorite music and bands as well as 
	    discover new artists to follow. 
	</p>

	<div id="about_map_div" style="width: 500px; height: 400px;">
	   
	   Map Should Go Here.
		
	</div>
	<button id="about_map_button" input type="button">Find my location</button>

	<div id="about_msg_div">

		Messages should go here

	</div>
</div>