<h1 id="amazon"> The Amazon API [server-side gem]</h1>

<% @resp.each('Item') do |item| %>
	<%#*http://www.amazon.com/dp/<%=item['ASIN']%>

	<% g = item['MediumImage'].nil? %>
	<% if g == false %>
	  <% item['MediumImage'].each do |img| %>
	   	<% if img[0] == "URL" %>
		  <%=image_tag(img[1],:alt=>’Amazon’,:title=>’Product’)%> <br/>
	    <%end%>
	  <%end%>
	<%end%>
<%end%>
