<h1 id="home">Music Explorer</h1>
<p>
   Welcome to the Music Explorer. 
  
   <ul>
     <li> <%= link_to "About this site and Google Maps API!", about_path %></li>
     <li> <%= link_to "Last.FM API!", lastFM_path %></li>
  </ul>
</p>
