<h1 id="lastFM"> The Last.FM API! </h1>

<div>
   <form id="lastFM_upcoming_form">
     Find upcoming events/concerts for the artist/band named: <input type="text" />
     <button type="button" id="lastFM_upcoming_submit">Lets Go!</button>
   </form>

   <p> Events List: </p>
   <ul id="lastFM_events_list">
   </ul>

   <div id="lastFM_map_div" style="width: 500px; height: 400px;">
   </div>

</div>