<div id="search_content_div">

<%= form_tag(search_path, :method => 'get', :remote => true) do %>
  <div>
    <%= label_tag :artist %>
    <%= text_field_tag :artist %>
     <%= submit_tag "Search" %>
  </div>
<% end %>

<div id="search_info_div">

</div>

<div id="search_save_div">
</div>

</div>