/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* APPLICATION-WIDE SETTINGS */

/* Declaring fonts */
@font-face
{
	font-family: scriptStyle;
	src: url('SCRIPTIN.ttf');
}

/* Awesome way to make perfect full-screen backgrounds that dont suck 
   Also here is CSS3 multiple background-images
*/
html 
{
    background: url(ror.png) fixed, url(retro.jpg) fixed;
    background-repeat: no-repeat, no-repeat; 
    background-position: right bottom, center center;
    background-size: auto, cover;

    /* dont really know what this is for...
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    */
}

/* Top-level headers should look fancy */
h1
{
	font-family: scriptStyle;
	font-size: 60px;
}

/* Header styles */
nav {
    float:right;
    padding 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin:0;
    padding:0;
}

nav ul li{
    list-style-type:none;
    display: inline-block; /*This is what makes the header links line up horizontally*/
    padding: 0.2em 0;
}

nav ul li a{
    padding 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Flash styles */
.flash_notice {
    background-color: red;
    border: black 3px solid;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.flash_success{
    color: green;
    border: green 3px solid;
    padding: 10px;
    width: 50%;
}

.flash_error{
    background-color: red;
    border: black 3px solid;
    margin: 10px;
    padding: 10px;
    width: 50%;
}