/* Place all the styles related to the Users controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/ 
 */

 #usersignup_content_div{
 	position:relative;
 	top:150px;
 }

 #usershow_content_div{
 	position: relative;
 	top:150px;
 }

#users_signup_h1{
	position: relative;
	left: 45%;
}

#users_signup_div{
	position: relative;
	top: 40%;
	left: 42%;
}

input[type="submit"]{
	font-family: Arial;
	font-size: 30px;
}

.user_field {
 	padding: 10px;
 	margin-bottom: 10px;
}

.user_field label {
	font-family: Arial;
	font-style: bold;
	font-size: 22px;
}

#bands_following_list{
	list-style-type: none;
}

#bands_following_list li{
	float:left;
	padding: 25px;
}

#bands_following_list li img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    cursor: hand;
    cursor: pointer
}
#bands_following_list li img {
    opacity: 0.4;
    filter:  alpha(opacity=50);
}
#bands_following_list li p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: Helvetica, sans-serif;
    font-size:14pt;
}

#active{
	opacity: 1.0;
	filter:alpha(opacity=100);
}

/* Error partial style */

#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

